<section class="mx-5 stats shadow ">

  <!-- <div class="stat-figure text-secondary">
    <img class="w-44" [src]="country().flagSvg" [alt]="country().name">
  </div> -->
  <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value">{{ country().nameInSpanish }}</div>
    <div class="stat-desc text-secondary">{{ country().name }} </div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Region y sub region</div>
    <div class="stat-value">{{ country().region }}</div>
    <div class="stat-desc text-secondary">{{ country().subregion }} </div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Capital</div>
    <div class="stat-value">{{ country().capital }}</div>
    <div class="stat-desc text-secondary">Capital política</div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Población</div>
    <div class="stat-value"><small>{{ country().population | number }}</small></div>
    <div class="stat-desc text-secondary">Hasta {{ currentYear() }} </div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Bandera</div>
    <div class="stat-value">{{ country().flag }}</div>
  </div>
</section>

<section class="diff aspect-16/9 w-3xl" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img [alt]="country().nameInSpanish" [src]="country().flagSvg" class="blur brightness-50" />
  </div>
  <div class="diff-item-2" role="img">
    <img [alt]="country().nameInSpanish" [src]="country().flagSvg" />
  </div>
  <div class="diff-resizer"></div>
</section>

<!-- <section>
  @for (item of country().translations; track $index) {}
</section> -->

